footer {
  background-color: #f8f9fa;
  border-top: 1px solid #dee2e6;
}
.pb-2, .py-2 {
  padding-bottom: .5rem !important;
}
.pt-2, .py-2 {
  padding-top: .5rem !important;
}
.mt-2, .my-2 {
  margin-top: .5rem !important;
}
footer {
  background-color: #ef4f5f !important;
  color: #fff;
  position: fixed;
  bottom: 0;
  height: 40px;
  width: 100%;
}

.navs {
  position: fixed; /* Fixed position at the top */
  top: 0;
  width: 100%;
  z-index: 1000; /* Ensures it stays on top of other content */
}
