<div class="container mt-5">
  <div class="row">
    <div class="col-4" *ngFor="let restaurant of matchingRestaurants">
      <div class="card card-food" (click)="onselectItem(restaurant.restoName,foodimgurl)">
        <div class="card-body">
          <div class="row">
            <div class="col-5">
              <img alt="{{ restaurant.Name }}" class="card-img-top food-item"
               [src]="foodimgurl" >
               <!-- [src]="restaurant.imgUrl" > -->

            </div>
            <div class="col-7 text-right">
              <i class="fa fa-heart-o" aria-hidden="true"></i>
              <h4>{{ restaurant.Name }}</h4> <!-- Display food name -->
              <!-- <small>{{ foodName }}</small>  -->
            </div>
          </div>
          <div class="row">
            <div class="col-5">
              <h4>{{ restaurant.restoName }}</h4>
            </div>
            <div class="col-7 text-right">
              <h6>
                <i class="fa fa-star-half-o" aria-hidden="true"></i>
              </h6>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
