<div class="container mt-5">
  <div class="row row-cols-1 row-cols-md-5 g-4">
    <div class="col-3 pt-2" *ngFor="let category of categories">
      <a>
        <div class="card card-food">
          <img [src]="category.imgUrl" [alt]="category.name" (click)="onadditem(category)" class="card-img-top">
          <div class="card-body">
            <h5 class="card-title">{{ category.name }} </h5>
            <!-- <button (click)="onadditem()" class="btn btn-success">Add</button> -->
          </div>
        </div>
      </a>
    </div>
  </div>
</div>
